@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'integral-cf';
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('/src/assets/fonts/integral-cf.otf');
}

svg.star-svg {
	display: inline;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
}

.special-gothic-expanded-one-regular {
	font-family: 'Special Gothic Expanded One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: Grey;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #494951;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
